
.container {
  display: none;
}

.loader {
  width: 50px;
  height: 50px;
  margin: 20px auto;
  border: 6px solid #000000;
  border-radius: 50%;
  border-top: 6px solid #3498db;
  animation: spin 1s linear infinite;
  display: none;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}